.home-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.home-contents{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 20px;
  padding-top: 100px;
  background-image: url('/img/area_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-klyora-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}
.about-klyora{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
}
.about-klyora p{
  font-size: 15px;
}
.about-klyora h3{
  font-size: 40px;
  background-image: radial-gradient(circle at center, #ffffff 50%,#474747);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.about-klyora button{
  padding: 13px 7px;
  border-radius: 10px;
  font-size: 20px;
  width: 200px;
  color: white;
  background-color: rgb(47, 63, 206);
  border: none;
  cursor: pointer;
  animation: opacity 2s linear infinite;
}
@keyframes opacity {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 0.5;
  }
}

.about-klyora-logo{
  flex: 1;
  max-width: 400px;
}
.about-klyora-logo img{
  width: 100%;
  border-radius: 400px;
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  0%{
    transform: translateY(2%);
  }
  50%{
    transform: translateY(-2%);
  }
  100%{
    transform: translateY(2%);
  }
}

.scrool-visibility{
  position: fixed;
  right: 2%;
  bottom: 10%;
  z-index: 9;
}
.scrool-visibility svg.fa-circle-arrow-up{
  color: #1551a0;
  font-size: 40px;
}

.token-sales-tracking{
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.token-progress-container{
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 50px;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 0 2px 2px rgb(31, 31, 31);
}
.token-progress-container h5{
  text-align: center;
  font-size: 23px;
}
.sales-track{
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}
.raised-coin, 
.total-coin{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.raised-coin p, 
.total-coin p{
  font-size: 15px;
  color: rgb(202, 202, 202);
}
.raised-coin h5, 
.total-coin h5{
  font-size: 20px;
  color:#1551a0;
}

.starting-sales{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-content: center;
  justify-content: center;
  width: 100%;
}
.starting-sales p.timer-header{
  text-align: center;
  font-size: 20px;
}
.starting-time{
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.time{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.time h5{
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-image: linear-gradient(90deg, rgb(15, 15, 15), rgb(66, 66, 66));
}
.time p{
  font-size: 15px;
}
.starting-sales button{
  width: 250px;
  margin: auto;
  padding: 10px 10px;
  border-radius: 10px;
  color: white;
  background-color: #1551a0;;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 1px 1px rgb(236, 236, 236);
  animation: opacity 3s linear infinite;
}

@keyframes opacity {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 0.5;
  }
}

.sales-information-container{
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 0 2px 2px rgb(31, 31, 31);
}
.sales-information-container hr{
  border: 1px solid rgb(44, 44, 44);
}
.sales-information-container h5.sales-header{
  text-align: center;
  font-size: 23px;
}
.sales-info{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sales-data{
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}
.sales-data h5{
  color: rgb(121, 121, 121);
  font-size: 12px;
}
.sales-data h3{
  color: rgb(187, 187, 187);
  font-size: 13px;
}
.sales-data h3.accepted-coin{
  color:#1551a0;
}

.token-allocation-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  padding: 0 20px;
}
.token-allocation-summary{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.token-allocation-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  width: 95%;
}
.token-allocation-header .klyora-logo-container{
  flex: 1;
  max-width: 350px;
  margin: 0 auto;
} 
.token-allocation-header .klyora-logo-container img{
  width: 100%;
  animation: bounce 2s linear infinite;
}
@keyframes bounce {
  0%{
    transform: translateY(2%);
  }
  50%{
    transform: translateY(-2%);
  }
  100%{
    transform: translateY(2%);
  }
}

.allocation-data{
  flex: 1;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.allocation-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.allocation-header p{
  display: flex;
  align-content: center;
  gap: 10px;
  font-size: 15px
}
.allocation-header p svg.fa-circle-arrow-right{
  color:#1551a0;
  font-weight: bold;
}
.allocation-header h4{
  text-align: center;
  font-size: 17px;
}
.allocation-details{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.allocation-details p{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 15px;
}
.allocation-details hr{
  border: 1px solid rgb(8, 19, 168);
}
.allocation-details p span{
  color: rgb(17, 124, 212);
  font-weight: bold;
}

.token-allocation-sales{
  display: flex;
  align-content: center;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.token-sales{
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 30px;
  border: 1px solid #585858;
}
.token-sales p{
  font-size: 15px;
  color: rgb(17, 124, 212);
  text-align: center;
}
.sales-percentage{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sales-percentage h4{
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.sales-percentage p{
  font-size: 15;
  color: #585858;
}

.token-allocation-container button{
  max-width: 300px;
  margin: 0 auto;
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  background-color: #1551a0;
  color: white;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.699);
  cursor: pointer;
  animation: opacity 3s linear infinite;
}
@keyframes opacity {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 0.5;
  }
}

.about-founder-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-image: url('/img/area_bg_3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-founder-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.about-founder-header p{
  display: flex;
  align-content: center;
  gap: 10px;
  font-size: 20px
}
.about-founder-header p svg.fa-circle-arrow-right{
  color:#1551a0;
  font-weight: bold;
}
.about-founder-header h4{
  font-size: 23px;
}

.about-fonder-content{
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.founder-data{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 35px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(35, 35, 155);
  padding: 20px;
  box-shadow: 0 0 2px 2px rgb(121, 121, 121);
  border-radius: 10px;
}
.founder-data .kyora-logo-container{
  flex: 1;
  margin: auto;
  max-width: 200px;
}
.founder-data .kyora-logo-container img{
  width: 100%;
  border-radius: 200px;
  padding: 20px;
  border: 3px solid rgb(35, 35, 155);
}

.founder-data summary{
  flex: 1;
  font-size: 15px;
  text-align: center;
  color: rgb(121, 121, 121);
  line-height: 25px;
}

/* Media Query */

@media screen and (min-width: 768px) {
.about-klyora-container{
  flex-direction: row;
}
.scrool-visibility{
  display: none;
}
.founder-data{
  flex-direction: row;
}
.token-allocation-header{
  flex-direction: row;
  
}
.token-allocation-sales{
  display: flex;
  align-content: center;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.token-sales{
  max-width: 400px;
  flex-direction: column;
  padding: 20px 0;
}
.token-sales p{
  font-size: 15px;
  color: rgb(17, 124, 212);
  text-align: center;
}
.sales-percentage{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sales-percentage h4{
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.sales-percentage p{
  font-size: 15;
  color: #585858;
}

.token-allocation-container button{
  max-width: 300px;
  margin: 0 auto;
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  background-color: #1551a0;
  color: white;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.699);
  cursor: pointer;
  animation: opacity 3s linear infinite;
}
@keyframes opacity {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 0.5;
  }
}
}

@media screen and (min-width: 768px) {
.about-klyora p{
  font-size: 25px;
}
.about-klyora h3{
  font-size: 60px;
}
}