.reset-password-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  background-image: url('/img/area_bg_02.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
.reset-password-content {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.reset-password-content h4{
  text-align: center;
  font-size: 25px;
  color: rgb(194, 194, 194);
  width: 100%;
}
.user-form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.email-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.email-container label{
  font-size: 13px;
  color: rgb(194, 194, 194);
}
.email-container input{
  background-color: rgb(34, 34, 34);
  color: rgb(194, 194, 194);
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(109, 109, 109);
  font-size: 15px;
  width: 100%;
}
.email-container input:focus{
  outline: none;
}
.user-form button{
  background-color: rgb(35, 21, 240);
  color: rgb(194, 194, 194);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  cursor: pointer;
}