.signin-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  background-image: url('/img/area_bg_02.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.signin-content {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.signin-content h4{
  text-align: center;
  font-size: 25px;
  color: rgb(194, 194, 194);
  width: 100%;
}
.user-form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.email-container,
.password-container{
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}
.password-container .password-container-f{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.password-container .password-container-f a{
  text-decoration: none;
  font-size: 10px;
  color: rgb(49, 84, 238);
}
.email-container label,
.password-container label{
  font-size: 13px;
  color: rgb(194, 194, 194);
}
.email-container input,
.password-container input{
  background-color: rgb(34, 34, 34);
  color: rgb(194, 194, 194);
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(109, 109, 109);
  font-size: 15px;
  width: 100%;
}
.email-container input:focus,
.password-container input:focus{
  outline: none;
}
.user-form button{
  background-color: rgb(35, 21, 240);
  color: rgb(194, 194, 194);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  cursor: pointer;
}
.signin-container .signin-option-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.signin-container .signin-option-container::before,
.signin-container .signin-option-container::after{
  content: "";
  border: 1px solid rgb(77, 77, 77);
  width: 100px;
}
.signin-container .option-buttons{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.signin-container .option-buttons button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  background-color: rgb(22, 22, 22);
  color: rgb(197, 197, 197);
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgb(41, 41, 41);
  font-size: 5px;
  font-weight: bold;
  padding-left: 20px;
  cursor: pointer;
}
.signin-container .option-buttons button.google-button{
  background-image: url('/img/google-logo.png');
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 13px;
}
.signin-container .option-buttons button.discord-button{
  background-image: url('/img/discord-icon.png');
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 13px;
}
.signin-container .option-buttons button.linkdin-button{
  background-image: url('/img/linkedin-logo.png');
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 13px;
}
.signin-container .existing-account{
  text-align: center;
  font-size: 13px;
  color: rgb(173, 173, 173);
}
.signin-container .existing-account a{
  color: rgb(51, 51, 245);
  text-decoration: none;
  cursor: pointer;
}