.faq-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 20px;
}
.faq-header{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.faq-header p{
  font-size: 15px;
}
.faq-header h4{
  font-size: 18px;
  color: rgb(30, 104, 241);
  font-weight: bold;
}
.faq-question-container{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
.faq-question-details{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 450px;
  min-width: 300px;
}
.faq-question-details hr{
  border: 1px solid rgb(119, 119, 119);
}
.faq-question{
  display: flex;
  align-items: center;
  gap: 20px;
}
.faq-question .view-symbol{
  text-align: center;
  height: 40px;
  max-width: 40px;
  width: 100%;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 23px;
  text-align: center;
  color: white;
  background-color: rgb(9, 41, 100);
  padding: 7px;
  cursor: pointer;
}
.faq-question h4{
  font-size: 15px;
  font-weight: bold;
}
.faq-answer{
  color: rgb(109, 109, 109);
  font-size: 10px;
  padding-left: 65px;
  max-width: 300px;
}

/* Media Query */

@media screen and (min-width: 768px) {
.faq-question-container{
  align-items: flex-start;
  justify-content: flex-start;
}
.faq-question-details{
  max-width: 400px;
  min-width: 0px;
}
}

@media screen and (min-width: 1000px) {
.faq-question-container{
  align-items: flex-start;
  justify-content: flex-start;
}
.faq-question-details{
  max-width: 400px;
  min-width: 0px;
}
}