.features-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 40px 20px;
  background-image: url('/img/area_bg_02.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.features-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.features-header p{
  display: flex;
  align-content: center;
  gap: 10px;
  font-size: 15px
}
.features-header p svg.fa-circle-arrow-right{
  color:#2d7ce2;
  font-weight: bold;
}
.features-header h4{
  font-size: 23px;
}

.features-content{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.features-data{
  flex: 1;
  max-width: 300px;
  min-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-content: center;
  justify-content: center;
  border: 1px solid rgb(39, 39, 39);
  padding: 20px;
  box-shadow: 0 0 2px 2px rgb(121, 121, 121);
  border-radius: 10px;
  backdrop-filter: brightness(50px);
}
.features-data .kyora-logo-container{
  margin: auto;
  width: 100px;
}
.features-data .kyora-logo-container img{
  width: 100%;
}
.features-data h4{
  text-align: center;
  font-size: 20px;
}
.features-data summary{
  font-size: 15px;
  text-align: center;
  color: rgb(121, 121, 121);
}