.app-container{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    color: #ffffff;
}
.loading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(19, 19, 19);
    z-index: 10;
}
.loading{
    width: 200px;
}
.loading img{
    width: 100%;
}